<!-- Modal -->
<div class="modal fade" id= <%= "myModal#{q.id}" %> tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
    <br>
      <div class="row">
      <div class="col-md-1"></div>
      <div class="col-md-10 well">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
        <h4 class="modal-title" id="myModalLabel">Edit Question</h4>
      </div>
      <%= render partial: "questions/edit_question", locals: {q: q} %>
      </div>
      <div class="col-md-1"></div>
      </div>
    </div>
  </div>
</div>