<div class="center hero-unit">
		<h1>Survey App</h1>
	<h1> <small>Under Construction</small></h2>

	<p>This is the homepage for the survey application.</p>

	 <%= link_to "See a sample survey", '#', class: "btn btn-large btn-primary" %>
</div>

