<!-- Modal -->
<div class="modal fade" id=<%="myChartModal#{q.id}" %> tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
        <h4 class="modal-title" id="myModalLabel">Data from question</h4>
      </div>
      <div class="modal-body">
 
	   <div class="row">
          <div class="col-md-offset-1 col-md-8">
            <!-- <%= pie_chart(@answers) %> -->
            <% @temp_ans_hash = @answers_hash.select {|k,v| k.split(",").last == q.id.to_s} %>
            <% @ans_for_chart_hash = Hash.new%>
            <% @temp_ans_hash.each do |k,v| %>
              <% @ans_for_chart_hash[k.split(",").first] = v %>
            <% end %>
            <!--<%= pie_chart @answers_hash.select {|k,v| k.split(",").last == q.id.to_s} %> -->
            <%= bar_chart @ans_for_chart_hash %>

          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>