<div class="row">
<div class="col-md-3 col-md-offset-2" id="chart-options">
<legend>Choose a chart</legend>
<%= render partial: "chart_select", locals: {q: @questions.name, s: @survey} %> <!-- if q is set as @question.name then it works -->
</div>

</div>