<% provide(:title, 'All surveys') %>
<div class="row">
<div class="col-md-offset-1 col-md-10">


<div class="page-header">
<h1>All surveys <br><small>Browse possible surveys to answer</small></h1>
</div>
<%= paginate @surveys %>

<div class="list-group">
  <%= render @surveys %>
</div>

<%= paginate @surveys %>

</div>
</div>
