<%= provide(:title, full_title("View Campaign")) %>

<div class="jumbotron">

<h1>Campaign: <%= @campaign.name %></h1>

<%= link_to "Edit Campaign", edit_campaign_path(@campaign), class: "btn btn-primary btn-lg" %>
<br>
<br>

<div class="row">

<div class="list-group col-lg-8">
	<%= render partial: 'campaign_survey', collection: @campaign.campaign_surveys%>
</div>
</div>


</div>