

@mixin box_sizing {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}


/* universal */

html {
  overflow-y: scroll;
}

body {
  padding-top: 60px;
}

section {
  overflow: auto;
}

textarea {
  resize: vertical;
}

.center {
  text-align: center;

  h1 {
   margin-bottom: 10px;
  }
}


.link-primary {
  color: #428bca;
  &:hover {
    text-decoration: none;
  }
}

.link-secondary {
  color: #5cb85c;
  &:hover {
    text-decoration: none;
    color: darken(#5cb85c, 10%);
  }
}

table th {
  text-align: center;
  .modal {
    text-align: left;
  }
}

.logo {
  float: left;
  margin-right: 5px;
  margin-top: 5px;
  font-size: 1.7em;
  color: white;
  letter-spacing: -1px;
  padding-top: 10px;
  font-weight: bold;
  line-height: 1;

  &:hover {
    color: white;
    text-decoration: none;
  }
}



/* footer */

footer {
  margin-top: 45px;
  padding-top: 5px;
  border-top: 1px solid #eaeaea;
  color: #808080;

  small {
    float: left;
  }
}

/*
  Bit hacky: makes the list-group border only display
  between elements
*/
.list-group-item {
  border-left: 0px !important;
  border-right: 0px !important;
  border-bottom: 0px !important;
}

/* forms */

// input, textarea, select, .uneditable-input {
//   border: 1px solid #bbb;
//   width: 100%;
//   padding: 10px;
//   margin-bottom: 15px;
//   @include box_sizing;
// }

// input {
//   height: auto !important;
// }

#error_explanation {
  color: #f00;
  ul {
    list-style: none;
    margin: 0 0 18px 0;
  }
}

.field_with_errors {
  @extend .has-error;
}

/* miscellaneous */

.debug_dump {
  clear: both;
  float: left;
  width: 100%;
  margin-top: 45px;
  @include box_sizing;
}

/**
  Makes modal content tags automatically applied
  for forms within modals.
*/

.modal-content{
  .form-body {
    @extend .modal-body;
  }
  .form-submit {
    @extend .modal-footer;
  }
}

.badge {
  a {
    color: white;
    &:hover {
      color: lightblue;
      text-decoration: none;
    };
  }
}

.likert-table {
  border: none;
  /*
  table-layout:fixed;
  width: 100%;
  */
  td {
    text-align:center;
  }
