<div class="form-group row">
	<div class="col-xs-9">
	<%= yield %>
	<% unless f.object.errors.empty? %>
	<span class="help-block">
		<% f.object.errors.full_messages.each do |err| %>
		<%= "* " + err %>
		<% end %>
	</span>
	<% end %>
	</div>
</div>