<%= f.label q.subtext, class: "control-label" %>
<% q.question_options.each do |opt| %>
<div class="radio">
	<%= f.label "option_id_#{opt.id}"  do %>
	<%= f.radio_button :option_id, opt.id %> <%= opt.option_choice.choice_name.capitalize %>
	<% end %>
</div>
<% end %>