
  <footer class="footer">
	<small><%= link_to image_tag("rails.png", alt: "Ruby on Rails", size: "48x48"), "http://rubyonrails.org" %> Powered by Ruby on Rails! </small>

	<nav>
    <ul>
      <li><%= link_to "About",   about_path %></li>
      <li><%= link_to "Contact", contact_path %></li>
      <li><a href="http://ruby.railstutorial.org">Learn Ruby on Rails</a></li>
    </ul>
  </nav>
</footer>