<header class="navbar navbar-fixed-top navbar-inverse">
      <div class="navbar-inner">
        <div class="container">
          <%= link_to image_tag("pi.jpg", size: "64x64"), root_path, id: "logo" %> <!-- Image from: http://rlv.zcache.com.au/black_and_white_pi_symbol_coaster-r55ac8eba8cc74b8a88df6ec45e9c6234_ambkq_8byvr_512.jpg -->
          <nav>
            <ul class="nav pull-right">
              <li><%= link_to "Home",     root_path %></li>
              <li><%= link_to "Help",  help_path %></li>
              <li><%= link_to "Sign in", '#' %></li>
            </ul>
          </nav>
        </div>
      </div>
</header>